@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
    box-shadow: 0 3px 20px #0000000b;
    @apply bg-white border-transparent rounded-md relative;
}
.login-custom {
    @apply lg:login login-mobile
}
.btn-gradient {
    @apply bg-gradient-to-r from-gradient-1 to-gradient-2 hover:from-indigo-600 hover:to-indigo-900 text-white  rounded-lg px-4 py-3
}
.padding-collapsed {
    @apply pl-[65px] !important
}
.padding-mobile {
    @apply pl-0 !important
}
.loading-indicator:before {
    content: '';
    background: rgba(0, 0, 0, 0.55);
    background-image: url("@/assets/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;

}
.loading-indicator:after {
    animation: spin 1s ease infinite;
    content: '';
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 9999;
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:1.5rem;
}
.box-daily{
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
}
.icon-circle{
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    height: 52px;
    width: 52px;
    align-items: center;
    align-content: center;
}
.icon-circle-sm{
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  height: 30px;
  width: 30px;
  align-items: center;
  align-content: center;
}
.pr-custom-12 {
    padding-right: 35px !important;
}
.icon-modal-validar {
    color: #13c8dc;
    width: 54px;
    height: 72px;
}
.p-dialog-content {
    height: 100%;
}
.boton-modal {
    text-align: center;
    font-size: 25px;
    color: #13c8dc;
}
.boton-modal.left {
    border-bottom-left-radius: 19px;
}

.boton-modal.right {
    border-bottom-right-radius: 19px;
}

.boton-modal:hover {
    background: #13c8dc;
    color: white;
    cursor: pointer;
}
.o-modal {
    border-bottom-left-radius: 19px;
}

