<template>
  <section class="box p-4 flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold mt-5">401</h1>
    <p>Acceso no autorizado</p>
    <button
    type="button"
    class="btn btn-primary my-5"
    @click="$router.back()"
    >
      Regresar
    </button>
  </section>
</template>

<script>
export default {
  setup () {
    return {}
  }
}
</script>
