<template>
  <section>
    <Dialog
      v-model:visible="display"
      :closable="false"
      :breakpoints="{ '960px': '75vw', '640px': '100vw' }"
      :style="{ width: '477px', height: '354px' }"
      :modal="true"
      closeOnEscape
    >
      <template #header>
        <div class="flex w-full justify-end">
          <i-fa-times class="text-gradient-1" @click="toggle()" />
        </div>

        <div class="flex w-full justify-center" style="margin-top: 25px">
          <slot name="icon" />
        </div>
      </template>

      <slot />

      <template #footer>
        <div class="o-modal m-0 flex flex-wrap">
          <div
            class="boton-modal left flex h-[70px] w-1/2 items-center"
            @click="handleSi"
          >
            <span class="w-full text-3xl">SI</span>
          </div>
          <div
            class="boton-modal right flex h-[70px] w-1/2 items-center"
            @click="handleNo"
          >
            <span class="w-full text-3xl">No</span>
          </div>
        </div>
      </template>
    </Dialog>
  </section>
</template>
<script>
import { ref } from "vue";
export default {
  name: "ModalComprobacionDerechos",
  setup(props, { emit }) {
    /** data **/
    const display = ref(false);
    /** methods **/
    const toggle = () => {
      display.value = !display.value;
    };
    const handleSi = () => {
      display.value = false;
      emit("responseYes");
    };
    const handleNo = () => {
      display.value = false;
    };
    /** retunrs **/
    return {
      display,
      toggle,
      handleSi,
      handleNo,
    };
  },
};
</script>
<style scoped>
/*.p-dialog-content {*/
/*  height: 100%;*/
/*}*/
.boton-modal {
  text-align: center;
  font-size: 25px;
  color: #13c8dc;
}
.boton-modal.left {
  border-bottom-left-radius: 19px;
}
.boton-modal.right {
  border-bottom-right-radius: 19px;
}
/*.p-dialog-header {*/
/*  flex-direction: column !important;*/
/*}*/
.boton-modal:hover {
  background: #13c8dc;
  color: white;
  cursor: pointer;
}
.o-modal {
  border-bottom-left-radius: 19px;
}
</style>
