<template>
  <div
    class="card-container blue-container flex flex-row-reverse flex-wrap"
  ></div>
  <form class="h-full">
    <div class="mt-2 mt-3 grid contenedor h-full overflow-auto">
      <div class="flex text-3xl" style="align-items: center;">
        <img class="h-24 w-auto mr-3" src="/img/logos/logo_xkcd.png" alt="Logo" />
        <strong>A webcomic of romance, sarcasm, math, and language.</strong>
      </div>
      <hr class="my-3">
      <h1 id="title" class="text-center">{{ comic.title }}</h1>
      <div class="my-3 flex justify-center pb-3">
        <img :src="comic.img" alt="" style="max-width: 50%; max-height: 70vh" />
      </div>
      <stars></stars>
      <div class="my-3 flex justify-center">
        <button class="mt-3 btn-gradient px-8 py-3 text-2xl" @click="handlesection()">Calificar</button>
      </div>
    </div>
  </form>

  <Toast />
</template>

<script>
import { onMounted, ref } from "vue";
import stars from "./stars.vue";
export default {
  name: "showComic",
  components: {
    stars,
  },
  setup() {
    const update = ref(false);
    const servicesTypes = ref([]);
    const errorCodService = ref(null);
    const comic = ref({ title: "Untitle" });
    const min = 1;
    const max = 1000;
    var id = Math.floor(Math.random() * (max - min)) + min;

    const getName = (value) => {
      return value.code + " - " + value.description;
    };

    const handlesection = () => {
      const proxyUrl = "https://cors-anywhere.herokuapp.com";

      const proxiedRequest = (url, options = {}) =>
        fetch(`${proxyUrl}/${url}`, {
          ...options,
          headers: {
            ...options.headers,
            "X-Requested-With": "wololo",
          },
        })
          .then((resp) => resp.json())
          .then((res) => {
            console.log("comic", res, id);
            comic.value = res;
          })
          .catch((error) => console.error(`error - `, error));

      const proxiedGet = (url) => proxiedRequest(url);

      proxiedGet(`https://xkcd.com/${id}/info.0.json`);
    };

    onMounted(() => {
      handlesection();
    });

    return {
      comic,
      handlesection,
      servicesTypes,
      getName,
      errorCodService,
      update,
      stars,
    };
  },
};
</script>

<style lang="scss" scoped>
#title{
  font-size: 40px;
  font-weight: bold;
  color: rgb(72, 72, 72);
}
.contenedor{
  width: 75vw;
  margin: 0 auto;
  background: #fff;
}
.rate_widget {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      180px;
    height:     32px;
}
.ratings_stars {
    background: url('star_empty.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('star_full.png') no-repeat;
}
.ratings_over {
    background: url('star_highlight.png') no-repeat;
}
.total_votes {
    background: #eaeaea;
    top: 58px;
    left: 0;
    padding: 5px;
    position:   absolute;  
} 
.movie_choice {
    font: 10px verdana, sans-serif;
    margin: 0 auto 40px auto;
    width: 180px;
}
</style>
