<template>
  <section class="modalPdf">
    <Dialog
      v-model:visible="display"
      :breakpoints="{ '960px': '75vw' }"
      :style="{ width: '90vw', height: '90vh' }"
      :modal="true"
      :maximizable="true"
      :header="header"
    >
      <div class="justify-content-around flex h-full w-full flex-col">
        <embed :src="ruta" type="application/pdf" width="100%" height="100%" />
      </div>
    </Dialog>
  </section>
</template>

<script>
import { ref } from "vue";

export default {
  name: "modalPdfComponent",
  props: {
    ruta: { type: String, default: "" },
    header: { type: String, default: "  " },
  },
  setup() {
    const display = ref(false);
    const toggle = () => {
      display.value = !display.value;
    };
    return { display, toggle };
  },
};
</script>

<style scoped></style>
