<template>
  <Toast />
  <section class="flex h-screen w-full shrink-0 grow basis-auto flex-row">
    <!-- Wrapper -->
    <div
      class="relative h-full flex-1 overflow-y-auto overflow-x-hidden bg-[#F2F4F6]"
    >
      <!-- Navbar -->
      <header
        class="relative sticky top-0 z-50 h-[71px] border-b border-gray-200 bg-[#00BCD4] px-4"
      >
        <div class="flex h-full items-center text-4xl text-white ">
          Masiv - Comics
        </div>
      </header>
      <!-- Container -->
      <main class="p-4" style="background: #d2e5e9; height: calc(100vh - 75px)">
        <router-view />
      </main>
    </div>
  </section>
</template>

<script setup>
import { useSideMenuStore } from "../../stores/side-menu";
import { useAuthStore } from "../../stores/auth";
import { helper as $h } from "../../utils/helper";
import { computed, onMounted, ref, watch } from "vue";
import { useRoute, useRouter } from "vue-router";

const route = useRoute();
const router = useRouter();
const sideMenuStore = useSideMenuStore();
// eslint-disable-next-line no-unused-vars
const auth = useAuthStore();
const formattedMenu = ref([]);
const menuCategorias = ref([]);

const sideMenu = computed(() => {
  return menuCategorias.value;
});

const handleMenu = () => {
  // getMenuService()
  //   .then(({ data }) => {
  //     menuCategorias.value = nestedMenu(data, route);
  //   })
  //   .catch((err) => {
  //     console.error(err.message);
  //   });
};
const isOnMobile = ref(false);
const collapsed = ref(false);
const onResize = () => {
  if (window.innerWidth < 768) {
    isOnMobile.value = true;
    collapsed.value = true;
    onToggleCollapse(collapsed.value, isOnMobile.value);
    onToggleMobile(collapsed.value, isOnMobile.value);
  } else {
    isOnMobile.value = false;
    collapsed.value = false;
    onToggleCollapse(collapsed.value, isOnMobile.value);
    onToggleMobile(collapsed.value, isOnMobile.value);
  }
};

const onToggleMobile = (isMobile) => {
  sideMenuStore.setCollapsed(isMobile);
};

const onToggleCollapse = (collapsed) => {
  sideMenuStore.setIsMobile(collapsed);
};

const visualSidebar = () => {
  isOnMobile.value = !isOnMobile.value;
  collapsed.value = !collapsed.value;
};

const logout = () => {
  // console.log("logout");
  auth.logout();
  router.push({ name: "login" });
};

/**/
watch(
  computed(() => route.path),
  () => {
    handleMenu();
    formattedMenu.value = $h.toRaw(sideMenu.value);
  }
);

/**/

onMounted(() => {
  onResize();
  handleMenu();
  window.addEventListener("resize", onResize);
  setTimeout(() => {
    formattedMenu.value = $h.toRaw(sideMenu.value);
  }, 2000);
});
</script>

<style>
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  box-sizing: border-box !important;
}
</style>
