<template>
  <section class="modalDownload">
    <Dialog
      v-model:visible="display"
      :closable="false"
      :breakpoints="{ '960px': '75vw', '640px': '100vw' }"
      :style="{ width: '477px', height: '354px' }"
      :modal="true"
    >
      <template #header>
        <div class="flex w-full justify-center" style="margin-top: 50px">
          <slot name="icon" />
        </div>
      </template>

      <slot />

      <template #footer>
        <div v-if="!info" class="o-modal m-0 flex flex-wrap">
          <div
            class="boton-modal left flex h-[70px] w-1/2 items-center"
            @click="
              $emit('responseNo', dataModal);
              display = false;
            "
          >
            <span class="w-full text-3xl">Cancelar</span>
          </div>
          <div
            class="boton-modal right flex h-[70px] w-1/2 items-center"
            @click="$emit('responseYes', dataModal)"
          >
            <span class="w-full text-3xl">Descargar</span>
          </div>
        </div>
        <div v-else class="o-modal m-0 flex flex-wrap justify-end">
          <div class="col-6 boton-modal right" @click="display = false">
            Aceptar
          </div>
        </div>
      </template>
    </Dialog>
  </section>
</template>
<script>
import { ref } from "vue";
export default {
  name: "ModalDownload",
  props: {
    info: { type: Boolean, default: false },
  },
  setup() {
    const display = ref(false);
    const dataModal = ref({});

    const toggle = (data = {}) => {
      display.value = !display.value;
      dataModal.value = data;
    };
    return {
      display,
      toggle,
      dataModal,
    };
  },
};
</script>

<style scoped>
.p-dialog-content {
  height: 100%;
}
.boton-modal {
  text-align: center;
  font-size: 25px;
  color: #13c8dc;
}
.boton-modal.left {
  border-bottom-left-radius: 19px;
}

.boton-modal.right {
  border-bottom-right-radius: 19px;
}

.boton-modal:hover {
  background: #13c8dc;
  color: white;
  cursor: pointer;
}
.o-modal {
  border-bottom-left-radius: 19px;
}
</style>
